body, html {
	height: 100%;
}

.bg {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;
	display: block;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	/* The image used */
	background-image: url("/images/student-home-bg.jpg");
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.mainbodycontent {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 9999;
	height: 100%;
	overflow: auto;
}